* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(C:\Users\tmdal\Desktop\kdt-class\project\alcohol-dutch-pay\public\images\pngtree-blue-sky-and-white-clouds-pure-sky-image_786707.jpg);
}
#root > div:nth-child(1) {
  width: 65vw;
  height: 10vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(C:\Users\tmdal\Desktop\kdt-class\project\alcohol-dutch-pay\public\images\penguin.png);
  text-align: center;             
}
#root > div:nth-child(1) > a {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
}